.event-wrapper {
  padding: 48px;
  border: 2px solid #0e464f;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.event-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-header div h2 {
  font-size: 32px;
  font-weight: 500;
  color: #ffff;
}
.event-header div span {
  color: #fafafa;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.ticket-details {
  border: 2px solid #08252B;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #08252B;
}
.ticket-texts {
  /* background: #0A0C11; */
  border: 2px solid #07373f;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.ticket-texts h1 {
  font-family: Road Rage;
  line-height: 100%;
  font-size: 62px;
  color: #fafafa;
  font-weight: 400;
}
.ticket-texts p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  width: 340px;
  text-align: center;
  color: #fafafa;
  line-height: 150%;
}
.ticket-texts div {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.ticket-texts div span {
  line-height: 150%;
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto;
  color: #fafafa;
}
.select-ticket {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.select-ticket h2 {
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fafafa;
  font-weight: 400;
}
.ticket-grid{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    border: 2px solid #07373F;
    border-radius: 24px;
background: #052228;
}
.grid{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border: 2px solid #197686;
    border-radius: 12px;
}
.grid:first-child{
    background: #12464E;
}
.grid p{
    font-size: 16px;
    font-family: Roboto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: #FAFAFA;
    gap: 8px;
}
.grid p span{
    font-size: 14px;
    text-transform: lowercase;
}
.grid .price{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    color: #fff;
}
.ticket-number{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ticket-number label{
    font-size: 16px;
    font-family: Roboto;
    color: #FAFAFA;
    line-height: 150%;
}
.ticket-number select{
    border: 1px solid #07373F;
    border-radius: 12px;
    background: transparent;
    padding: 12px;
    font-size: 16px;
    font-family: Roboto;
    color: #FAFAFA;
    line-height: 150%;
    cursor: pointer;
}
.ticket-number select option{
    background: #041e23;
    padding: 12px;
    color: #fafafa;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 32px;
  background: #041E23;
  border: 1px solid #0E464F;
  border-radius: 24px;
}
.buttons button{
  border-radius: 8px;
  line-height: 150%;
  font-size: 16px;
  width: 214px;
  height: 48px;
  cursor: pointer;
}
.btncancel{
  border: 1px solid #24A0B5;
  background: transparent;
  color: #24A0B5;
}
.buttons button:last-child{
  background: #24A0B5;
  color: #ffff;
  border: none;
}
.line{
  border: 2px solid #07373F;
}